.App {
    text-align: center;
}
* {
    font-size: 1em;
}
.layout{
  background: #08082E;
  height: 100%;
  width: 100%;
}
.text-field {
    background-color: white;
    width: 19%;
    border-radius: 5px;
}
