.App {
    text-align: center;
}
* {
    font-size: 1em;
}
.layout{
  background: #08082E;
  min-height: 100vh;
  width: 100%;
}
.text-field {
    background-color: white;
    width: 19%;
    border-radius: 5px;
}
.chart-div{
    background-color: #0F0E36;
    border-radius: 5px;
    border: 1px solid #564978;
    box-shadow: 4px 4px 4px 4px #564978;
}
.doughnut-title{
    margin-left: 35px;
    color: white;
}